@model CTRL.Portal.Common.Contracts.AccountInviteEmailContract

<table align='center' border='0' cellpadding='0' cellspacing='0'>
    <tbody>
        <tr>
            <td>
                <table align='center' bgcolor='#ffffff' border='0' cellpadding='0' cellspacing='0' style='background-color:#fff; width:806px;'>
                    <tbody>
                        <tr>
                            <td style="text-align: center;"><img src="https://via.placeholder.com/610x100?text=CTRL" alt="CTRL Logo" /></td>
                        </tr>
                    </tbody>
                </table>
                <table align='center' border='0' cellpadding='0' cellspacing='0' style='background-color:#fff; width:806px; padding-top: 30px; color: #022449;'>
                    <tbody>
                        <tr>
                            <td>
                                <table align='center' border='0' cellpadding='0' cellspacing='0' style='background-color:#fff; margin:0 auto; width:806px;'>
                                    <tbody>
                                        <tr>
                                            <td align='center' width='806px'>
                                                <div style='font-family:Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; max-width: 475px;'>
                                                    <p>You have been invited to join the @Model.AccountName group by @Model.SenderUserName. Click the button below to accept the invite.</p>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td bgcolor="#ffffff" align="center" style="padding: 14px 10px 95px 10px;;">
                                                                <table border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td align="center">
                                                                            <a href="@Model.SenderUrl"
                                                                               target="_blank"
                                                                               style="font-size: 20px;
                                                                                 font-family: Arial, Helvetica, sans-serif;
                                                                                 font-weight: bold;
                                                                                 color: #ffffff;
                                                                                 text-decoration: none;
                                                                                 padding: 14px 114px;
                                                                                 border-radius: 29px;
                                                                                 border: 1px solid #F27D42;
                                                                                 display: inline-block;
                                                                                 background-color:#F27D42">
                                                                                JOIN
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <p>Or copy/paste this URL</p>
                                                    <a rel="nofollow" style='color: #F27D42; font-weight: bold;'>@Model.SenderUrl</a>
                                                </div>
                                                <div style='font-family:Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px;'>
                                                    <hr style='border: 0.5px solid #E3E3E3; margin: 100px 0px 22px 0px; border-bottom: none;' />
                                                </div>
                                                <div style='font-family:Arial, Helvetica, sans-serif; font-weight: 400; font-size: 18px; padding-top: 10px;'>
                                                    <p>
                                                        Ran into some trouble? Received this email by mistake? <a href="#" target="_blank" style="color: #F27D42; text-decoration: none; font-weight: bold;">Please contact the CTRL team</a>
                                                    </p>
                                                    <p>&#169; CTRL, LLC @DateTime.Now.Year</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
